.container-0 {
  max-width: 80rem;
  padding: 2em 1em;
  margin: 0 auto 2.5rem;

  @media (min-width: 31.25em) {}

  @media (min-width: 62.5em) {
    margin: 0 auto 5rem;
    padding: 4.5em 1em 2em;
  }

}

.container-1 {

  padding: 2em 2em;
  margin: 0 auto;

  @media (min-width: 31.25em) {}

  @media (min-width: 62.5em) {
    max-width: 65rem;
    margin: 0 auto;
    padding: 2em 1em 5.5em;
  }

}

.container-2 {

  padding: 0;
  
  @media (min-width: 31.25em) {}

  @media (min-width: 62.5em) {
    padding: 1em 0;
    max-width: 90rem;
    margin: 0;
  }

}



.container-3 {
 
  padding: 2em 1em;
  margin: 0 auto;



  @media (min-width: 62.5em) {
    max-width: 90rem;
    padding: 6em 5em;
  }

}

.container-4 {
  padding: 8em 1em 2em;
  margin: 0 auto;

  @media (min-width: 43.75em) {
    max-width: 50rem;

  }

  @media (min-width: 62.5em) {
    max-width: 80rem;
    padding: 12em 1em 5em;
  }

}

.btn-0 {
  padding: .5rem 1.5rem;
  background: var(--White);
  color: var(--Light-Pink);
  border: 2px solid var(--Light-Pink);
  border-radius: var(--br-0);

  line-height: 1;
  box-shadow: rgba(0, 37, 46, 0.15) 0px 2px 8px;


  @media (min-width: 62.5em) {
    padding: .8rem 2rem;
  }
}



a.btn-0 {
  text-decoration: none;
  font-family: var(--ff-sans);
  font-weight: 700;
  font-size: 1rem;
}

.btn-1 {
  padding: .8rem 2rem;
  background: var(--Pink);
  color: var(--White);
  border-radius: var(--br-0);
  line-height: 1;


  @media (min-width: 62.5em) {
    border-radius: 3rem;
    padding: 1.8rem 5rem;
    grid-column: 2 / 3;
    justify-self: center;
  }

  &:hover {
    opacity: .7;
  }
}


a.btn-1 {
  text-decoration: none;
  font-family: var(--ff-sans);
  font-weight: 700;
  font-size: .8rem;

  @media (min-width: 62.5em) {
   font-size: 1.2rem;
  }
}

.btn-2 {
  padding: .8rem 2rem;
  background: var(--Pink);
  color: var(--White);
  border-radius: var(--br-0);
  line-height: 1;
  box-shadow: rgba(0, 37, 46, 0.15) 0px 2px 8px;


  @media (min-width: 62.5em) {
    padding: 1.8rem 6rem;
    border-radius: 3rem;
    
  }

  &:hover {
    opacity: .7;
  }
}

a.btn-2 {
  text-decoration: none;
  font-family: var(--ff-sans);
  font-weight: 700;
  font-size: .9rem;
}




.link-button-1 {
  background-color: var(--Pink);
  padding: .8rem .5rem;
  border: none;
  border-radius: var(--br);
  color: var(--Very-Pale-Blue);
  font-family: var(--ff-primary);
  width: 50%;
  align-self: flex-end;
  font-size: .8rem;
  text-decoration: none;
  text-align: center;

  @media (min-width: 37.5em) {
    font-size: .9rem;
  }

  &:hover {
    opacity: .7;
  }
}

a.link-button-1 {
  font-size: 1.1rem;
  font-family: var(--ff-sans);
  font-weight: 600;
}
